- income_statements = company.income_statements.sort_by(&:year)
%table.table
  %tr
    %th.headcol.first
    - income_statements.each do |income_statement|
      %td.long.first= income_statement.year
  - display_income_attributes.each do |attribute, options|
    %tr
      %th.headcol= options[:display].call(attribute)
      - income_statements.each do |income_statement|
        %td.long= options[:format].call(income_statement.send(attribute))

