
.row.potential-investments
  .col-lg-12
    .element-container
      = render :partial => 'list', :locals => { :potential_investments => @potential_investments,
                                                :title => 'Potential Investments',
                                                :selector => Financials::BasicSelector.new }
      %hr
      /= render :partial => 'list', :locals => { :potential_investments => @promising_investments,
      /                                          :title => 'Promising Investments',
      /                                          :selector => Financials::PromisingCompaniesSelector.new }
