// Brand Colors
$black: black;
$blue: #428bca;
$green: #5cb85c;
$yellow: #f0ad4e;
$red: #d9534f;
$blue-green: #5bc0de;

.fa-blue {
  color: $blue;
}

.fa-green {
  color: $green;
}

.fa-yellow {
  color: $yellow;
}

.fa-red {
  color: $red;
}

.fa-blue-green {
  color: $blue-green;
}
