// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.company-delisted {
  background-color: $black;
}
.company-liquidated {
  background-color: $red;
}
.company-merged {
  background-color: $blue;
}
.company-changed {
  background-color: $yellow;
}

.company-legend {
  .legend-scale {
    ul {
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      float: left;
      list-style: none;

      li {
        font-size: 80%;
        list-style: none;
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
      }
    }
    ul.legend-labels li span {
      display: block;
      float: left;
      height: 16px;
      width: 30px;
      margin-right: 5px;
      margin-left: 0;
      border: 1px solid #999;
    }
  }
  a {
    color: #777;
  }
}

.financial-statements {
  .content { padding: 0}
  .tab-pane.active, .pane {
      overflow-x:scroll;
      overflow-y:visible;
      padding:0;
  }
  table {
    border-spacing:0;
  }
  td, th {
    margin:0;
    white-space:nowrap;
  }
  .headcol {
      position:absolute;
      left:16px;
      top:auto;
      border-right: 1px solid grey;
  }
  .first {
    height: 38px;
    border:0px;
  }
  .long {
    letter-spacing:0.1em;
    text-align: right;
    height: 38px;
  }

  #income {
    margin-left:23.5em;
    .headcol {
       width:23.5em;
    }
  }
  #balance {
    margin-left:23.5em;
    .headcol {
      width:23.5em;
    }
  }
  #cashflow {
    margin-left:27em;
    .headcol {
      width:27em;
    }
  }
}

.kfi {
  .content { padding: 0}
  .pane {
      overflow-x:scroll;
      overflow-y:visible;
      padding:0;
      margin-left:15.2em;
  }
  table {
    border-spacing:0;
  }
  td, th {
    margin:0;
    white-space:nowrap;
  }
  .headcol {
      position:absolute;
      left:16px;
      top:auto;
      width:15.2em;
      border-right: 1px solid grey;
  }
  .first {
    height: 38px;
    border:0px;
  }
  .long {
    letter-spacing:0.1em;
    text-align: right;
    height: 38px;
  }
}
