.potential-investments {
  .content {
    padding: 10px 5px 10px 5px;
  }
  .small {
    font-size: 8px;
  }
  .table {
    table-layout: auto;
    overflow:scroll;
    min-width: 1310px;
    font-size: 10px;
    td {
      //min-width:100px;
    }
    text-align:right;
    .btn-primary span{
      color: white;
    }
  }
  dl {
    //width: 600px;
    background: lightgoldenrodyellow;
    border: 1px solid #000;
    //padding: 5px 15px;
  }

}
